*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    height: 50px;
    width: 100%;
    background: #F5DB3C;
    font-family:'Faustina';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 23px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.nav-ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;

    
    
}
.nav-item{
     margin-right: 33px;
}

.nav-item a{
    color: black;
    text-decoration: none;
    
}

.nav-ul  a:hover{
    color: red;
    
}

.home-icon{
    font-size: 25px;
    color: black;
}
.nav-dropdown{
    position: relative;
    display: inline-block;
}
.dropdown-ul{
    width: 168px;
    height: 320px;
    display: none;
    position: absolute;
    left: -30px;
    top: 28px;
    list-style: none;
    color: #FBFBFB;
    background-color: #000;
    text-align: center;
    border-radius: 14px;
    font-family: "Faustina";
    font-size: 14px;
    font-weight: 400;

}

.dropdown-item {
    margin: 8px;
}

.nav-dropdown:hover .dropdown-ul{
    display: block;
}
