*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 .navbar{
  height: 50px;
  width: 100%;
  background: #F5DB3C;
 
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 23px;
  display: flex;
  justify-content: center;
  align-items: center;

} 

 .navbar ul{
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;

  
  
}
.navbar li{
   margin-right: 33px;
   padding: 0px 1px;
   
}

.navbar li a{
  color: black;
  text-decoration: none;
  font-weight: 600;
  
}

.navbar li a:hover{
  color: red;
  
}

.home-icon{
  font-size: 25px;
  color: red;
} 
.search_btn{
  font-size: 18px;
}
.search_btn:hover{
   color:red;
   
}

/* top-headding */

.top-heading{
   height: 470px;
   width: 730px;
  
   box-shadow: 3px -1px 10px -1px rgba(89, 84, 84, 0.3);
   
   /* border: 1px solid red; */
}
.right-card p{
  font-size: 12px;
  font-weight: 700;
  /* border: 1px solid red; */
  margin-top: -15px;
  margin-left: -10px;

 
}
.card-right{
  height:75px;
  border-bottom: 1px solid rgba(89, 84, 84, 0.1);
}
.card-logo i{
  /* border: 1px solid red; */
  margin-left: -10px;
  font-weight: 200;

}

.card-left .card-body{
   margin-left: -10px;
}
.logo-text{
  margin-left:5px;
  font-size: 14px;
  font-weight:100;
  line-height: 10px;
}
.card-text{
  font-weight: 400;
  font-size: 14px;
}

/* Pov */

.pov-card{
  box-shadow:3px -1px 10px -1px rgba(89, 84, 84, 0.3);
  width: 280px;
  height: 310px;
}

